<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>{{ page.title }} | {{ site.title }}</title>

  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>

<body>
  <header class="topbar">
    <div class="brand">
      <a href="{{ '/' | relative_url }}">Panagiotis Fiskilis - Neuro</a>
    </div>

    <nav class="nav">
      <a href="{{ '/' | relative_url }}">Home</a>
      <a href="{{ '/red-team-operations/' | relative_url }}">Red Team Operations</a>
      <a href="{{ '/active-directory/' | relative_url }}">Active Directory</a>
      <a href="{{ '/c2-and-implants/' | relative_url }}">C2 and Implants</a>
      <a href="{{ '/BOFs/' | relative_url }}">BOFs</a>
      <a href="{{ '/homelab/' | relative_url }}">Home Lab Projects and Vulnerable Labs Setup</a>
      <a href="{{ '/conferences/' | relative_url }}">Conferences - No Spoilers ;)</a>
    </nav>
  </header>

  <main class="container">
    <article class="post">
      <h1>{{ page.title }}</h1>

      <p class="post-meta">
        {{ page.date | date: "%Y-%m-%d" }} — {{ page.categories | join: ", " }}
      </p>

      <div class="post-content">
        {{ content }}
      </div>
    </article>
  </main>
</body>
</html>
